<config>
    <global>
        <models>
            <hackathon_customurls>
                <class>Hackathon_CustomUrls_Model</class>
            </hackathon_customurls>
        </models>
        <helpers>
            <hackathon_customurls>
                <class>Hackathon_CustomUrls_Helper</class>
            </hackathon_customurls>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <hackathon_customurls>
                        <class>hackathon_customurls/observer</class>
                        <method>handleInitRouters</method>
                    </hackathon_customurls>
                </observers>
            </controller_front_init_routers>
        </events>
        <custom_urls>
            <checkout_cart_index module="hackathon_customurls" translate="label">
                <route>checkout/cart/index</route>
                <label>Checkout Cart Url</label>
                <params>
                    <!-- params array for getUrl() -->
                </params>
            </checkout_cart_index>
        </custom_urls>
    </global>
    <default>
        <web>
            <custom_urls>
                <checkout_cart_index_url>mycart</checkout_cart_index_url>
            </custom_urls>
        </web>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Hackathon_CustomUrls/>
            </modules>
        </suite>
    </phpunit>
</config>